<%- include('partials/header') %>

<h1>Error Occured</h1>
<hr>
<h3>
    Your credentials are invalid plz login again or Register
</h3>
<hr>
<p>Beautify and maintain this page also import two buttons for login and Register via anchor tag</p>



<%- include('partials/footer') %>
