<%- include('partials/header') %>

<h1>Registration page</h1>
<hr>
<h3>
    add differnt inputs here
</h3>
<hr>
<ol>
    <li>Adhar card</li>
    <li>name</li>
    <li>address</li>
    <li>phone no.</li>
    <li>family members</li>
    <li>emergency or not if yes then reason</li>
    <li>reason(optional)</li>
    <li>at last register complete button</li>
</ol>



<%- include('partials/footer') %>
